<?xml version="1.0"?>
<!--
/**
 * Copyright © Swarming Technology, LLC. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="swarming_credits" frontName="swarming_credits">
            <module name="Swarming_StoreCredit" before="Magento_Backend" />
        </route>
    </router>
</config>
